body{
    display: flex;
   
    background-color: black;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.container{
    position: fixed;
    height: 0%;
    width: 0%;
    display:flex;
    color: beige;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 50px;
    
}

.video{
    height: 100%;
    width: 100%;
}
